/* Google font poppins is used */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* clearing all initial margin, padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thematic properties */
:root{
    --page-background-color:white;
    --title-font-size: 24px;
    --title-font-color: black;
    --button-back-color:#E02C6D;
    --button-txt-color: #FFFFFF;
    --card-title-color: black;
    --card-txt-color:#787885;
}

/* Common shared Properties */
.container{
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px 30px;
}
.button-primary{
    background-color: var(--button-back-color);
    color:var(--button-txt-color);
    font-weight: 600;
    margin: 5px;
    padding: 10px 30px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}
.product-card{
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 30px  lightgray;
}

/* website visual part */
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--page-background-color);
}

/* Navigation bar design*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.nav-logo{
    margin: 10px;
    padding: 10px;
}
.nav-menu{
    display: flex;
    
}

.nav-menu-list>ul>li{
    list-style: none;
    margin: 10px;
    padding: 0 10px;
}
.nav-menu-list a{
    text-decoration: none;
}
.nav-menu-list>ul{
    display: flex;
}
.nav-menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu-icon a{
    margin: 10px;
    padding: 0 10px;
}
.nav-ham-icon{
    display: none;
}

/* Top banner design */

.banner{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    
}
.banner-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 20px;

}
.banner-txt p{
    margin: 10px 0;
}

.banner-img{
    display: flex;
    margin: 20px;
    padding: 10px;
    background-image: url("../images/circle-design.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}

.banner-img:hover img{
    transform: rotateY(360deg);
    transition: transform 1s ease-out;
}
/* Brands Logo section */
.brands-logo{
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.brands-logo img{
    margin:0 20px;
}

/* Popular collection section design */
.pop-coll-headline{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* .img-holder{
    width: 350px;
} */
.img-holder img{
    width: 100%;
}

.product-price{
    font-size: 20px;
    font-size: 400;
}

.ratings{
    display: flex;
    height: 40px;
    align-items: center;
    color: var(--card-txt-color);
    font-size: 12px;
}

.ratted{
    color: orange;
}

.ratted-txt{
    padding: 0 10px;
    font-size: 14px;

}

.product-description{
    color: var(--card-txt-color);
}

.explore-btn{
    display: flex;
    justify-content: flex-end;
    height: 25px;
    align-items: center;
    color: var(--button-back-color);
    cursor: pointer;
    margin-bottom: 50px;
}
.explore-btn i{
    padding: 0 10px;
    
}

/* Product Review Design */
.prod-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.prod-review-heading{
    margin-top: 50px;
    margin-bottom: 40px;
}
.prod-review h1{
    text-align: center;
}

.review-articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}
.review{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    column-gap: 20px;
    box-shadow: 0 0 10px gray;
}
.review img{
    width: 90%;
}

.review-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}


/* footer design */
footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.social-icon{
    display: flex;
}
.social-icon i{
    padding: 0 5px;
    margin: 10px;
}

/* Media query */
/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        max-width: 600px;
        margin: 5px auto;
        padding: 10px 10px;
    }

    /* Navigation bar */
    .nav-bar{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        align-items: center;
        justify-content: center;
    }
    .nav-logo{
        order:2
    }
    .nav-logo h3{
        text-align: center;
    }

    .nav-menu-list{
        display: none;
    }
    .nav-menu{
        order: 3;
        justify-content: flex-end;
    }
    .search-icon{
        display: none;
    }
    .nav-ham-icon{
        display: flex;
        justify-content: flex-start;
        margin-left: 15px;
        order: 1;       
    }
    
    /* Top Banner Section */

    .banner{
        grid-template-columns: 1fr;
        height: 800px;
    }
    .banner-txt{
        order: 2;
        align-items: center;
    }
    .banner-txt h1{
        text-align: center;
    }
    .banner-txt p{
        text-align: center;
        margin: 30px 0;
    }
    .banner-img{
        order: 1;
    }
    .banner-img img{
        width: 100%;
    }


    /* Brands Logo section */

    .brands-logo{
        flex-wrap: wrap;
    }
    .brands-logo img{
        width: 15%;
        margin: 8px;
    }

    /* Products Section */
    .products{
        grid-template-columns: 1fr;
    }

    /* Review Section */
    .review-articles{
        grid-template-columns: 1fr;
    }
    .review{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .review-img img{
        width: 98%;
        align-items: center;
    }
    
    .review-txt{
        margin: 20px 0;
        align-items: center;
    }
    .review-txt h1{
        text-align: center;
    }
    .review-txt p{
        margin: 20px 0;
        text-align: center;
    }
}

/* Medium devises- Tablet (600px to 850 px) */
@media only screen and (min-width: 600px) and (max-width: 850px) {
    .container{
        max-width: 850px;
        /* max-height: 600px; */
        margin: 10px auto;
        padding: 10px 10px;
    }
    /* Navigation bar */
    .nav-bar{
        margin: 5px 20px;
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        justify-content: center;
    }
    
    .nav-logo{
        order:1
        /* text-align: center; */
    }
    .nav-logo h3{
        text-align: left;
    }

    .nav-menu{
        order: 2;
        justify-content: flex-end;
        margin-right: 5;
    }
    .nav-menu-list>ul>li{
        padding: 0;
    }
    .nav-menu-icon{
        display: none;
    }
    

    /* Top Banner Section */

    .banner{
        grid-template-columns: 1fr;
        height: 950px;
    }
    .banner-txt{
        order: 2;
        justify-content: flex-start;
        align-items: center;
    }
    .banner-txt h1{
        text-align: center;
    }
    .banner-txt p{
        text-align: center;
        margin: 30px 0;
    }
    .banner-img{
        order: 1;
    }
    .banner-img img{
        width: 75%;
    }


    /* Brands Logo section */

    .brands-logo{
        flex-wrap: wrap;
        margin: 0 20px;
    }
    .brands-logo img{
        width: 8%;
        margin: 15px;
    }

    /* Products Section */
    .products{
        margin: 15px 15px;
        grid-template-columns: 1fr 1fr;
    }

    /* Review Section */
    .review-articles{
        grid-template-columns: 1fr;
    }
    .review{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .review-img img{
        width: 98%;
        align-items: center;
    }
    
    .review-txt{
        margin: 20px 0;
        align-items: center;
    }
    .review-txt h1{
        text-align: center;
    }
    .review-txt p{
        margin: 20px 0;
        text-align: center;
    }
}
  