/* Google font poppins is used */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* clearing all initial margin, padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thematic properties */
:root{
    --page-background-color:white;
    --title-font-size: 24px;
    --title-font-color: black;
    --button-back-color:#E02C6D;
    --button-txt-color: #FFFFFF;
    --card-title-color: black;
    --card-txt-color:#787885;
}

/* Common shared Properties */
.container{
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px 30px;
}
.button-primary{
    background-color: var(--button-back-color);
    color:var(--button-txt-color);
    font-weight: 600;
    margin: 5px;
    padding: 10px 30px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}
.product-card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 30px  lightgray;
}

/* website visual part */
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--page-background-color);
}

/* Navigation bar design*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.nav-logo{
    margin: 10px;
    padding: 10px;
}
.nav-menu{
    display: flex;
    
}

.nav-menu-list>ul>li{
    list-style: none;
    margin: 10px;
    padding: 0 10px;
}
.nav-menu-list a{
    text-decoration: none;
}
.nav-menu-list>ul{
    display: flex;
}
.nav-menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu-icon a{
    margin: 10px;
    padding: 0 10px;
}
.nav-ham-icon{
    display: none;
}

/* Top banner design */

.banner{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    
}
.banner-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 20px;

}
.banner-txt p{
    margin: 10px 0;
}

.banner-img{
    display: flex;
    margin: 20px;
    padding: 10px;
    background-image: url("../images/circle-design.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}

.banner-img:hover img{
    transform: rotateY(360deg);
    transition: transform 1s ease-out;
}
/* Brands Logo section */
.brands-logo{
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.brands-logo img{
    margin:0 20px;
}

/* Popular collection section design */
.pop-coll-headline{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

.img-holder{
    /* width: 350px; */
}
.img-holder img{
    width: 100%;
}


.ratings{
    display: flex;
    height: 40px;
    align-items: center;
    color: var(--card-txt-color);
    font-size: 12px;
}

.ratted{
    color: orange;
}

.ratted-txt{
    padding: 0 10px;
    font-size: 14px;

}

.product-description{
    color: var(--card-txt-color);
}

.explore-btn{
    display: flex;
    justify-content: flex-end;
    height: 25px;
    align-items: center;
    color: var(--button-back-color);
    cursor: pointer;
}
.explore-btn i{
    padding: 0 10px;
}



/* footer design */
footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.social-icon{
    display: flex;
}
.social-icon i{
    padding: 0 5px;
    margin: 10px;
}